<form class="add-form" (ngSubmit)="onSubmit()" *ngIf="showAddForm">
  <div class="form-control">
    <label for="text">Add a task</label>
    <input type="text" name="text" id="text" [(ngModel)]="text" />
  </div>
  <div class="form-control">
    <label for="text">
      <mat-hint>DD/MM/AAAA</mat-hint>
    </label>
    <!-- <input
      matInput
      [matDatepicker]="picker"
      type="text"
      name="day"
      [(ngModel)]="day"
    /> -->
    <div class="datepickerStyle">
      <input
        matInput
        [matDatepicker]="picker"
        type="text"
        name="day"
        [(ngModel)]="day"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <!-- <input
      type="text"
      name="day"
      id="day"
      placeholder="Add Day & Time"
      [(ngModel)]="day"
    /> -->
  </div>

  <div class="form-control form-control-check">
    <label for="reminder">
      <b>Reminder</b>
    </label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    />
  </div>
  {{ text }} {{ day }} {{ reminder ? mark : "" }}
  <input type="submit" value="Save task" class="btn btn-block" />
</form>
