<form class="add-form">
  <div class="form-control">
    <label for="text">Add a task</label>
    <input type="text" name="text" id="text">
  </div>
  <div class="form-control">
    <label for="text">Day & Time</label>
    <input type="text" name="day" id="day" placeholder="Add Day & Time">
  </div>

  <div class="form-control form-control-check">
    <label for="reminder">Remind it!!</label>
    <input type="checkbox" name="reminder" id="reminder">
  </div>

  <input type="submit" value="Save task" class="btn btn-form">
</form>