@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.container {
  /* overflow: auto; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1em auto;
  width: 65%;
  padding: .5em;
  border: 3px solid #e9e9e9;
  border-radius: .5em;
  margin-bottom: 5em;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: .8em 1em;
  border-radius: .4em;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #d6d6d6;
  border: 1px solid black;
  color: #000;
}

.btn:active {
  transform: scale(0.98);
}
/* .btn-block {
  display: block;
  width: 100%;
} */

.form-control {
  margin: 1.2em auto;
  width: 100%;
}

/* .form-control label {
  display: block;
} */

.form-control input {
  width: 100%;
  /* height: 2.1em; */
  /* margin: .5em; */
  padding: .2em .6em;
  font-size: 1.1em;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 2;
  text-align: center;
}

.form-control-check input {
  flex: 1;
  cursor: pointer;
  height: 1em;
}

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@media screen and (max-width: 800px)  {
  .container {
    width: 100%;
    border: none;
  }
}